{% extends "_base.html" %}

{% block feeds %}
<link href="/blog/posts.atom" type="application/atom+xml"
      rel="alternate" title="Blog posts" />
{% endblock %}

{% block content %}
<h1>{{ entry.title }}</h1>
<div class="meta">
  Published: {{ entry.date.strftime('%Y, %B %d') }}
  {% if entry.tags %}
    | Tags:
    {% for tag in entry.tags -%}
      <a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor %}
  {% endif %}
  | <a href="#disqus_thread">Comments</a>
</div>

<hr>

{{ entry.body }}

<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_identifier = "{{ entry.get_url() }}";
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://dottedmag.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/dottedmag/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

{% endblock %}
