{% extends "_base.html" %}

{% block content %}
<h1>{{ entry.title }}</h1>
<div class="meta">
  Published: {{ entry.date.strftime('%Y, %B %d') }}
  {% if entry.tags %}
    | Tags:
    {% for tag in entry.tags -%}
      <a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor %}
  {% endif %}
</div>

<hr>

{{ entry.body }}

<hr>

<h3>Comments</h3>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_identifier = "{{ entry.get_url() }}";
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://dottedmag.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

{% endblock %}
