{% meta %}
{% endmeta %}

{% block feeds %}

<link href='http://www.myopenid.com/server' rel='openid.server'/>
<link href='http://dottedmag.myopenid.com/' rel='openid.delegate'/>

{% endblock %}

{% block content %}
      <h2><div title="English">en</div></h2> 
      <ul> 
        <li><a href="/mikhail-gusarov-resume/">Résumé</a></li> 
        <li><a href="http://www.linkedin.com/in/dottedmag">LinkedIn profile</a></li> 
        <li> 
          <a href="http://www.ohloh.net/accounts/dottedmag?ref=Tiny" class="noext">
            <img height="15" style="vertical-align: center; border: 0;" src="http://www.ohloh.net/accounts/5385/widgets/account_tiny.gif" width="80"/> 
          </a> 
          <a href="http://www.ohloh.net/accounts/dottedmag?ref=Tiny">Free software contribution history</a> 
        </li> 
        <li><a href="http://fossarchy.blogspot.com/">«FOSS Architecture» blog</a></li> 
        <li><a href="http://www.amazon.com/gp/registry/wishlist/2SBEYE9NUDE8Z">Wishlist</a></li> 
        <li><a href="/talks/">Talks</a></li> 
        <li><a href="/hate-list/">Software "hate list"</a></li> 
      </ul> 
      <h2><div title="Russian">ru</div></h2> 
      <ul> 
        <li><a href="/mikhail-gusarov-resume-ru/">Резюме</a> (<a href="/mikhail-gusarov-resume-informal-ru/">неформальный вариант</a>)</li> 
        <li><a href="http://dottedmag.moikrug.ru/">Профиль в МоёмКруге</a></li> 
        <li><a href="/talks/">Доклады на конференциях</a></li> 
        <li><a href='http://dottedmag.livejournal.com/'><img src='http://stat.livejournal.com/img/userinfo.gif' alt='[info]' width='17' height='17' style='vertical-align: bottom; border: 0; padding-right: 1px;' /><b>dottedmag</b></a></li> 
      </ul> 
      <h2><div title="No linguistic content">zxx</div></h2> 
      <ul> 
        <li><a href="/3e338888.pub">GPG key</a> (<a href="/key-transition-2009-05-12.txt">transition notice</a>)</li> 
        <li><a href="/maps">Places I have visited</a></li> 
        <li><a href="/dotfiles/">dotfiles</a></li> 
      </ul> 
    </span> 
{% endblock %}
