{% meta %}
  title: Mikhail Gusarov - Resume
{% endmeta %}

{% block style %}
th { background-color: #eeeeee }

@media print
{
  #footer { display: none; }
  #sidebar { display: none; }
  #header { display: none; }
  #wrapper { border: 0px; width: 0px; }
  h1 { color: black; }
  h2 { color: black; }
}

{% endblock %}

{% block content %}
    <h2>Mikhail «dottedmag» Gusarov &mdash; Resume</h2>
    <img src="/images/faceonly.png" style="float:right"/>
    <p>
    Location: Oslo, Norway<br/>
    E-mail: <a href="mailto:dottedmag@dottedmag.net">dottedmag@dottedmag.net</a><br/>
    XMPP: <a href="xmpp:dottedmag@dottedmag.net">dottedmag@dottedmag.net</a><br/>
    Phone: (+47)-48-60-04-11 (timezone is UTC+1)<br/>
    </p>
    <h2>Skills summary</h2>
    <table>
      <tbody>
        <tr>
          <th class="subcaption" colspan="2">Strong areas</th>
        </tr>
        <tr>
          <td colspan="2" class="sumsummary">
            <ul>
              <li>UNIX programming.</li>
              <li>Software craftmanship.</li>
              <li>Analysis of existing systems and refactoring.</li>
              <li>Python.</li>
              <li>Web architecture and RESTful interfaces.</li>
              <li>Embedded Linux distributions development</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="subcaption" colspan="2">Experience</th>
        </tr>
        <tr>
          <th>Programming languages</th>
          <td>
            Good knowledge of Python, C, Perl, C++, XSLT, Korn-like
            shells. Basic knowledge of Java, OCaml, Haskell, Erlang, Ruby, PHP,
            ECMAScript, C#, Visual Basic, various Lisps.
          </td>
        </tr>
        <tr>
          <th>Processes</th>
          <td>RUP, Agile processes (especially XP).</td>
        </tr>
        <tr>
          <th>Standards, protocols, frameworks</th>
          <td>
            Good knowledge of Web architecture and Internet protocols,
            POSIX/SUSv3, Web services. Good knowledge of Django, basic knowledge
            of Pylons. Good knowledge of Eclipse RCP and basic knowledge of
            Eclipse workbench/JDT. Basic knowledge of .NET and J2EE.
          </td>
        </tr>
        <tr>
          <th>Programming techniques</th>
          <td>
            OO programming &amp; design, structural programming, functional
            programming, event-based and rule-based programming.
          </td>
        </tr>
        <tr>
          <th>Theoretical CS and algorithmics</th>
          <td>
            Solid background in math &amp; theoretical CS. Good understanding of
            the advanced algorithmical areas.
          </td>
        </tr>
        <tr>
          <th>Databases</th>
          <td>PostgreSQL, MySQL, SQLite.</td>
        </tr>
        <tr>
          <th>Operating systems</th>
          <td>
            Good knowledge of Linux, FreeBSD programming and
            administration. Basic knowledge of Windows family, Palm OS, MacOS X,
            Solaris programming.
          </td>
        </tr>
        <tr>
          <th>Tools</th>
          <td>
            GNU toolchain, version control systems (git, CVS, Subversion, darcs,
            mercurial etc), autotools, various IDEs.
          </td>
        </tr>
        <tr>
          <th>Communication</th>
          <td>Fluent technical English (BEC Vantage).</td>
        </tr>
        <tr>
          <th>Misc</th>
          <td>
            Good knowledge of Debian packaging (Debian Developer,
            Debian-inspired embedded distro leader). Basic knowledge of LaTeX.
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Working experience</h2>
    <table>
      <tbody>
        <tr>
          <th>Project, duration, position</th>
          <th>Description</th>
          <th>Responsibilities</th>
          <th>Tools, skills and technologies</th>
        </tr>
        <tr>
          <th colspan="4"><a href="https://www.ohloh.net/accounts/dottedmag">Volunteering in open source projects</a></th>
        </tr>
        <tr>
          <td><a href="http://debian.org/">Debian</a> (Sep 2006 &mdash; Present), Debian Developer</td>
          <td>Debian GNU/Linux distribution.</td>
          <td>
            <a
            href="http://qa.debian.org/developer.php?login=dottedmag%40dottedmag.net">Maintenance</a> of
            several packages in Debian repository.
          </td>
          <td>
            C, Python, Debian packaging tools, autotools
          </td>
        </tr>
        <tr>
          <td><a href="http://openinkpot.org/">OpenInkpot</a> (Dec 2007 &mdash; Present), Project founder &amp; leader</td>
          <td>OpenInkpot &mdash; free and open source operating system for e-ink devices.</td>
          <td>
            Founder, leader, developer of OpenInkpot project. One of core developers.
          </td>
          <td>
            C, X11, git, Linux distributions development and maintenance, GNU
            toolchain, Debian packaging
          </td>
        </tr>
        <tr>
          <td><a href="http://iplinux.org/">IPlinux</a> (Feb 2009 &mdash; Oct 2010), Project founder &amp; leader</td>
          <td>IPlinux is a Debian-inspired embedded Linux distribution.</td>
          <td>
            Founder, leader, developer of IPlinux project.
          </td>
          <td>
            C, X11, git, Linux distributions development and maintenance, GNU
            toolchain, Debian packaging
          </td>
        </tr>
        <tr>
          <td><a href="http://byteflow.su/" rel="nofollow">Byteflow</a> (Dec 2007 &mdash; Sep 2008), Contributor</td>
          <td>Byteflow blog engine</td>
          <td>
            Contributing fixes and small features to Byteflow blog engine.
          </td>
          <td>
            Python, Django
          </td>
        </tr>
        <tr>
          <td><a href="http://libssh2.org/">libssh2</a> (Jun 2005 &mdash; Oct 2010), Software Developer.</td>
          <td>libssh2 is the client-side SSH2 protocol implementation.</td>
          <td>Contributor: compatibility, portability, functional patches and fixes. Maintainer of Debian package.</td>
          <td>C, SSH2 protocol.</td>
        </tr>
        <tr>
          <td><a href="http://x2x.dottedmag.net/">x2x</a> (Jun 2005 &mdash; Jan 2010), Maintainer.</td>
          <td>x2x links two X-servers together dispatching mouse and keyboard
          events.</td>
          <td>Maintenance of x2x utility, handling patches and processing bug
          requests.</td>
          <td>C, Xlib, ICCCM.</td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://cfengine.com/">CFEngine AS</a>, Oslo, Norway</th>
        </tr>
        <tr>
          <td>CFEngine (Feb 2011 &mdash; Present), Software Engineer</td>
          <td colspan="2">
            Development and release management of CFEngine Community. Introducing engineering practices to the team: test-driven development, regression testing, continous integration, release engineering, release/feature branches, code review.
          </td>
          <td>
            C, test-driven development, refactoring, Unix/POSIX/SUS.
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://altlinux.ru/">ALT Linux, Ltd</a>, Moscow, Russia</th>
        </tr>
        <tr>
          <td>ALT Linux (Dec 2007 &mdash; Aug 2009), OSS manager</td>
          <td>
            <a href="http://altlinux.org/">ALT</a> Linux distribution / <a href="http://sisyphus.ru/">Sisyphus</a> repository
          </td>
          <td colspan="2">
            Establishing and maintaining bugtracking policy, maintaining
            project documentation, developing external and internal
            web applications for the analysis of development process.
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://agily.com/">Agily</a>, Moscow, Russia</th>
        </tr>
        <tr>
          <td>Agily (Aug 2007 &mdash; Dec 2007), Developer</td>
          <td>
            Agily network service
          </td>
          <td>
            p2p network stack development, maintaining project documentation.
          </td>
          <td>
            C, IPv6
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://wn.com/">WorldNews Network</a>, London, UK</th>
        </tr>
        <tr>
          <td>mediadb (May 2007 &mdash; Nov 2007), Developer</td>
          <td>
            Internal media database for news site.
          </td>
          <td>
            Development of database from scratch, integrating with existing services.
          </td>
          <td>
            Python, Django.
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://www.yoursway.com/">YourSway</a>, Novosibirsk, Russia (Co-Founder)</th>
        </tr>
        <tr>
          <td>YourSway (May 2007 &mdash; Nov 2007), Software architect</td>
          <td>
            Eclipse-based IDE for Ruby on Rails.
          </td>
          <td>
            Design of IDE.
          </td>
          <td>
            Eclipse RCP, Java.
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://parallels.com/" rel="nofollow">Parallels (former SWsoft)</a>, Novosibirsk, Russia</th>
        </tr>
        <tr>
          <td><a href="http://swdn.swsoft.com/en/openfusion/" rel="nofollow">OPEN FUSION</a> (Jul 2006 &mdash; Nov 2007), Systems
          Architect.</td>
          <td>Common platform for web hosting applications:
          specifications, reference implementations, protocols,
          guidelines.</td>
          <td>
            Design of single sign-on mechanism (concepts,
            guidelines, <a href="http://www.parallels.com/ptn/documentation/apsid/"
            rel="nofollow">protocol</a>, SSO engine implementation). Design
            of <a href="http://apsstandard.com/doc/" rel="nofollow">web
            applications packaging and processing specification</a> (packaging
            format, package format verification tools, implementation
            guidelines). Design of Web UI integration protocols/mechanisms
            (application interaction protocol).
          </td>
          <td>
            Web architecture (RESTful interfaces), DocBook, SOAP, WS-I, XML,
            RELAX NG.
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://www.swsoft.com/en/products/plesk/" rel="nofollow">Plesk for Unix</a> (May 2004 &mdash; July 2006), Senior Software Engineer.
          </td>
          <td>
            Web-based hosting automation product, managing the popular Unix
            services.
          </td>
          <td>
            Implementing the business entities migration subsystem (PHP, C++,
            Perl), design and implementation of the next version of the
            subsystem (PHP, Perl, Python, XML/XML Schema), reverse-engineering
            competitor products, maintaining and improving the build system
            of project, reviewing the design of the overall product.
          </td>
          <td>
            C++, Perl, Python, POSIX/SUSv3 shell &amp; utilities, various Makes,
            XML/XSLT/XML Schema, Boost, SSH protocol, GNU toolchain.
          </td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://axmor.com/" rel="nofollow">Axmor</a>,
          Novosibirsk, Russia</th>
        </tr>
        <tr>
          <td>WorkplacePM (Mar 2004 &mdash; May 2004), Software Engineer.</td>
          <td>Eclipse-based Gantt-chart application integrated into IBM Workplace</td>
          <td>Design and implementation of GUI component similar to
          Microsoft Project's Tasks TableTree View.</td>
          <td>Eclipse, EMF, Java.</td>
        </tr>
        <tr>
          <td>LS (Feb 2004 &mdash; May 2004), Maintenance Software Engineer.</td>
          <td>Maintenance of IE-based third-party application</td>
          <td>Reverse-engineering third-party application
          architecture. Fixing bugs.</td>
          <td>Visual Basic, ActiveX, JavaScript, XSLT.</td>
        </tr>
        <tr>
          <td>XForms Research (Sep 2003 &mdash; Feb 2004), Software Analyst,
          Software Engineer.</td>
          <td>Research project to study XForms' applicability to both
          standalone and Web-based applications.</td>
          <td>Problem analysis. Mentoring design and
          implementation of XForms application prototype.</td>
          <td>UML, XForms, XML, JavaScript.</td>
        </tr>
        <tr>
          <td>Odyssey (Sep 2003 &mdash; Feb 2004), Software Engineer.</td>
          <td>Porting legacy third-party Struts-based application to
          the IBM WеbSphеrе pоrtal platform, integrating with SSO and
          Lotus Mail.</td>
          <td>Porting the software (partially redesigning),
          integrating the Pоrtal with ActiveDirectory.</td>
          <td>Java, Apache Struts, IBM WеbSphеrе Pоrtal, Microsoft
          Active Directory.</td>
        </tr>
        <tr>
          <td>INAP Demo (Aug 2003), Software Engineer.</td>
          <td>Proof-of-concept IBM WеbSphеrе Pоrtal integration with
          legacy ActiveX-based applications.</td>
          <td>Design and implementation of Pоrtal-compatible
          Web Services-based ActiveX-proxy hosting existing
          applications.</td>
          <td>C++, ATL, Visual Basic, ActiveX, Web Services.</td>
        </tr>
        <tr>
          <td>Aug 2003 &mdash; May 2004, System administrator.</td>
          <td>Axmor IBM team servers administration.</td>
          <td>Administration of Lotus Domino application server, CVS
          repository.</td>
          <td>IBM Lotus Domino, CVS server.</td>
        </tr>
        <tr>
          <th colspan="4"><a href="http://novosoft-us.com/" rel="nofollow">Novosoft</a>, Novosibirsk, Russia</th>
        </tr>
        <tr>
          <td>Internal billing system (Feb 2003 &mdash; Jun 2003), Junior
          Software Engineer.</td>
          <td>Traffic billing system based on Cisco NetFlow.</td>
          <td>Refactoring of existing backend code. Database schema
          refactoring. Implementing the Web-interface.</td>
          <td>C, PHP, MySQL, Cisco NetFlow.</td>
        </tr>
      </tbody>
    </table>
    <h2>Additional information</h2>
    <h3>Education</h3>
    <p>
      Master's degree in Computer Science, Novosibirsk State University, 2000 &mdash; 2005.<br/>
    </p>
    <h3>Awards</h3>
    <p>
      IBM <a rel="nofollow" href="http://icpc.baylor.edu/">International
        Collegiate Programming Contest</a>: 2004 World Finals
    </p>
{% endblock %}

